@charset "utf-8";

/* 
PLNR U COLOR PALETTE
DEEP BLUE       #003366
BRIGHT BLUE	    #0992C4
GOLD            #FFD700
GRAY            #F5F5F5
*/

/* SIDEBAR */
    .sidebar {
        height: 100%;
        width: 250px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #003366;
        padding-top: 20px;
    }

    .sidebar-images {
        width: 60%;
        margin-left: auto;
        margin-right: auto;

    }
    .sidebar-image {
        width: 100%;

        padding-top: 20px;
    }

    .sidebar-links {
        padding-top: 30px;
        margin-left: auto;
        margin-right: auto;    
    }

    a.sidebar-link:link {
        padding: 10px 15px;
        text-decoration: none;
        font-size: 1.25em;
        font-weight: bold;
        color: #fff;
        display: block;
        text-align: center;
    }

    .sidebar-links a:hover {
        background-color: #0992C4;
        color: #FFD700;
    }

    a:visited {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
    }


    /* CSS for the main content area */
    .content {
        margin-left: 270px; /* Adjust this value to leave space for the sidebar */
        margin-top: 20px; /* Add margin to move content down below the header */
        padding: 20px;
    }