<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>PLNR U | The Future of College Planning</title>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link href="../static/css/main.css" rel="stylesheet" type="text/css">
    <link href="../static/css/footer.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class = "left-block" id="index-right-block">

    <a href="landing.html">
        <img class = "main-logo" src = "../static/assets/PLNRUlogo.png" alt = "PLNR U">
    </a>

    <h1>Welcome to the Future of College Planning</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis, dolor quis posuere volutpat, lorem neque congue tellus, id dignissim metus urna sed erat. 
    </p>
    
    <p>
        Nulla vel justo sed ante vulputate hendrerit. Nam in elit eget nibh venenatis ullamcorper id at eros.
    </p>
    
    <h3>Made for students, by students.</h3>

    <a href="login.html">
        <button class = "button deep-blue" id = "index-log-in" >Log In</button>
    </a>
    
    <a href="register.html">
        <button class = "button bright-blue">Register</button>
    </a>

</div>

<img class = "right-image" src="../static/assets/index-image.png">

<div class = "footer">

    <div class = "footer-help">
        Need help? Contact support <a href="mailto:support@plnru.com" class = "footer-link">here</a>.
    </div>

    <div class = "footer-capstone">
        <img src="../static/assets/CC-logo-30x30.png" alt="Capstone Consultants logo" class="footer-logo">
        Capstone Consultants 2023. All rights reserved.
    </div>

</div>


</body>
</html>
        