<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | PLNR U</title>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link href="../static/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>

    <!-- Left content div -->
    <div class="left-block">

        <!-- PLNR U Logo - links to landing page -->
        <a href="landing.html">
            <img class = "main-logo" src = "../static/assets/PLNRUlogo.png" alt = "PLNR U">
        </a>
        
        <!-- Page heading -->
        <h1>Login to PLNR U</h1>

        <!-- Form div -->
        <table>
            <form method="POST" action="/update_profile">
                <tr>
                    <td>
                        <label for="username">Username</label>
                    </td>
                    <td>
                        <input type="text" id="username" name="username" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password">Password</label>
                    </td>
                    <td>
                        <input type="password" id="password" name="password" required>
                    </td>
                </tr>
                <tr>
                    <td>
                         
                    </td>
                    <td>
                        <button class = "button bright-blue left-button" type="submit">Login</button>
                    </td>
                </tr>
            </form>
        </table>


        <!-- Register div -->
        <div style="margin-left: 140px;">
            <p class = "helper-text">Don't have an account?</p>

            <a href="register.html">
                <button class = "button deep-blue left-button">Register Now!</button>
            </a>
        </div>

    </div>

    <!-- Right image -->
    <img class = "full-height-image" src="../static/assets/login.png">

</body>

</html>
