<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>My Profile | PLNR U</title>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link href="../static/css/main.css" rel="stylesheet" type="text/css">
    <link href="../static/css/sidebar.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- Sidebar navigation menu -->
    <div class="sidebar">

        <div class = sidebar-images>
            <a href="landing.html">
                <img class = "sidebar-image" src = "../static/assets/PLNRUdk_bg_icon.png" alt = "PLNR U">
            </a>

            <a href="landing.html">
                <img class = "sidebar-image" src = "../static/assets/logo-text-dk-bg.png" alt = "PLNR U">
            </a>
        </div>

        <br>

        <div class = "sidebar-links">
            <a class = "sidebar-link" href="home.html">Home</a>
            <a class = "sidebar-link" href="tasks.html">Tasks</a>
            <a class = "sidebar-link" href="profile.html">Profile</a>
            <a class = "sidebar-link" href="#" onclick="confirmLogout()">Log Out</a> <!-- Added onclick attribute -->
            <a class = "sidebar-link" href="mailto:support@plnru.com">Support</a>
        </div>
    </div>

    <!-- Navigation menu in the header -->
    <!-- Header code in body- commented out for now - MCB -->
    <!-- <header>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/tasks">Tasks</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="#" onclick="confirmLogout()">Sign Out</a></li> --><!-- Added onclick attribute -->
            <!-- <li><a href="mailto:support@plnru.com">Support</a></li>
        </ul>
    </header> -->

    <div class = "left-block-w-sidebar">
        <br>
        <br>
        <h1>Profile</h1>

        <!-- Display user information in table -->
        <table class = "table-hover" >
            <tr>
                <td>Username</td>
                <td>{{ user.user_username }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ user.user_email }}</td>
            </tr>
            <tr>
                <td>First Name</td>
                <td>{{ user.user_firstName }}</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>{{ user.user_lastName }}</td>
            </tr>
            <tr>
                <td>College</td>
                <td>{{ user.user_college }}</td>
            </tr>
            <tr>
                <td>Major</td>
                <td>{{ user.user_major }}</td>
            </tr>
            <tr>
                <td>Graduation Date</td>
                <td>{{ user.user_graduation }}</td>
            </tr>
            <tr>
                <td>Classification</td>
                <td>{{ user.user_classification }}</td>
            </tr>

        </table>

        <!-- Edit profile link -->

        <br>
        <br>
        <a href="edit_profile.html">
            <button class = "button bright-blue left-button">Edit Profile</button>
        </a>

    </div>

    <!-- JavaScript for the logout confirmation -->
    <script>
        function confirmLogout() {
            // Use the built-in `confirm` dialog to ask for confirmation
            const confirmMessage = "Are you sure you want to log out?";
            const isConfirmed = confirm(confirmMessage);
        
            if (isConfirmed) {
                // If the user confirms, redirect them to the logout route
                window.location.href = "/logout";
            }
        }
    </script>

    <!-- Right image -->
    <img class = "full-height-image-w-sidebar" src="../static/assets/profile.png">

</body>
</html>
